<html xmlns:th="https://www.thymeleaf.org/">
<head></head>
<body>
<h3>EMPLOYEE EDIT PAGE</h3>
<form th:action="@{/employee/update}" method="POST" th:object="${employee}">
<pre>
ID   : <input type="text" th:field="*{empId}" readonly/>
NAME : <input type="text" th:field="*{empName}"/>
SAL  : <input type="number" th:field="*{empSal}"/>
DEPT : <select th:field="*{empDept}">
			<option value="">--SELECT--</option>
			<option value="DEV">DEV</option>
			<option value="QA">QA</option>
			<option value="BA">BA</option>
		</select>
	<input type="submit" value="UPDATE EMPLOYEE"/>		
</pre>
</form>
</body>
</html>
